body {
  background-color: bisque !important;
  font-family: "Ubuntu", sans-serif !important;
}

.notfound {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
